
*.bot
*.bot
*.bot
*.mp3
*.waw
*.mp4
GuchiBot/bin/Debug/FunPics/
GuchiBot/bin/Debug/UserPhotoes
/
GuchiBot/bin/Debug/previews/
GuchiBot/bin/Debug/olduserph/
*.psess
*.ide-wal
*.ide
*.lock
*.ide-shm
*.vspx
*.txt
GuchiBot/bin/Debug/voteslike.bot
*.bot
GuchiBot/bin/Debug/kek.jpg
GuchiBot/bin/Debug/FunFunc/Who/WhoTitles/shab1_1.png
*.my
